
#linha1{
    color: white;
    width: 30%;
    padding: 15%;
    line-height: 120%;
}



img{
    padding: 30px 70px 90px 70px;
    position: absolute;
    width:80%;
    top: 10px;  
    left: 700px;
    width: 650px;
    margin: auto;
}


body{
    background-color: black;
}

h1{
    color: white;
    margin-left: 30px;
}

img.foto1{
    border-radius: 10px 20px 30px 40px;
    display: block;
    margin-left: auto;
    margin-right:0%;
}

.linha3{
    color: darkred;
    font-weight: bold;
    font-size: large;
    
}