img{
    position:absolute;
    top: 120px;
    left: 730px;
    width: 650px;
    margin: auto;
    max-width: 50%;
}

body{
    background: black;
    overflow:hidden;
}
/* 
#testespan{
    color: red;
    font-weight: bold;
    font-family: serif;
    font-size: larger;
    margin: bottom 200px;
} 
 */


.Aprestext{
 color: white;
 height: auto;
 width: 40%;
 margin-top: 170px;
 margin-left: 140px;
 font-size: large;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 line-height: 200%;
 text-align: center;
}


h1{
    color: white;
}



a{
    font-weight: bold;
    font-size: larger;
}

a:link{
    text-decoration: none;
    color: goldenrod;
}

a:visited{
    color: goldenrod
}

a:hover{
    color:red;
}

ul{
    color: white;
}

#back{
    margin-top: 0%;
    
}

button{
    color: black;
    background-color: rgb(73, 73, 73);
    box-shadow: none;
    text-shadow: none;
    border-radius: 30px;
}